*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(white,gray);
    
}
.abc{
    border-radius: 10px!important;
}
.btn-dark:hover{
    background-color: rgb(14, 151, 48);
}
.result-box{
    width: 60%;
   
    border: 3px solid rgb(44, 44, 44)!important;
    border-radius: 10px;
    margin-left: 20%;
    text-align: center;
    padding: 20px 0 40px 0;
    
    /* display: flex;
  align-items: center;
  justify-content: center; */
}
a {
    color: #eef2f5;
    text-decoration: none;
}

a:hover 
{
     color:#282a2b; 
     text-decoration:none; 
     cursor:pointer;  
}
.btn-danger:hover{
    background-color: rgb(167, 173, 170);
}